:root {
    --color-primary: #390099;
    --color-secondary: #2B2C28;
    --color-tertiary: #339989;
    --color-button: #339989;
    --color-button-hover: #7DE2D1;
    --color-text: #FFFAFB;
    --color-white: #FFFAFB;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Seccion_Oculta{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}